.section-page-about {
  margin: 60px auto 100px;
  color: #f8f8ff;
  background-image: url(../assets/images/image_for_aboutpage2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*-------ABOUT TEXT--------*/
.about-header {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.about-text {
  padding: 0 16px 400px;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.about-text__item {
  margin: 30px 10px;
}

.about__link {
  text-decoration: none;
  color: rgb(0, 142, 236);
  text-align: center;
  transition: 0.2s linear;
}

.about__link:hover {
  text-decoration: underline;
  color: rgb(0, 142, 236);
  text-shadow: rgba(0, 142, 236, 1) 3px 0 20px;
}