.section-hobby {
  margin-top: 100px;
}

.hobby-text {
  font-size: 20px;
}

.benefits__list {
  padding-left: 50px;
  line-height: 2; 
}

.hobby-group {
  margin-top: 100px;
}

.about-text__item {
  line-height: 1.8;
}

/* Программы занятий */

.programs__item {
  margin-bottom: 50px;
  flex: 50%;
  display: flex;
  gap: 30px;
  align-items: center;
}

.programs__item-img {
  width: 200px;
  height: 200px;
}

.programs__item-title {
  font-size: 24px;
}

/* Запись на индивидуальные занятия */
.submit__personal {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  font-size: 1.5em;
  padding: 14px;
}

.personal-prompt {
  margin: 50px 0;
  text-align: center;
}

@media(max-width: 768px) {
  .hobby-text {
    font-size: 1em;
  }
}

@media(max-width: 375px) {
  .hobby-text {
    font-size: 0.9em;
  }
}