.cards {
  display: flex;
  justify-content: space-around;
  color: #104489;
}

.cards__inner {
  background: #104489 transparent;
  aspect-ratio: 1/1.5;
  transition: 0.2s linear;
}


.cards__item img {
  width: 32em;
  aspect-ratio: 1/1.5;
  transition: 0.2s linear;
}

.cards__inner:hover {
  background: #104489;
}

.cards__inner:hover img {
  opacity: 0.5;
}

.cards__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.cards__title {
  margin-top: 20px;
  font-size: 26px;
}

.cards__description {
  margin: 20px 0;
  font-size: 20px;
  width: 500px;
}

.cards__btn {
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px;
  background-color: #f8f8ff;
  color: #104489;
  border: 2px solid #104489;
  border-radius: 3px;
  transition: 0.2s linear;
}

.cards__btn:hover {
  background-color: #104489;
  color: #f8f8ff;
  cursor: pointer;
}

/*--------------QUESTIONS--------------*/
.question_header {
  color: #333;
  margin: 30px 0;
  padding-top: 30px;
  font-size: 30px;
}

.accordeon {
  color: #333;
  line-height: 1.8;
  font-size: 20px;
  padding: 0 0 30px 20px;
}

.accordeon__header {
  font-size: 1em;
  font-weight: 700;
  transition: 0.3s linear;
  cursor: pointer;
}

.accordeon__header:hover {
  color: #104489;
  text-shadow: rgba(0, 142, 236, 0.815) 1px 0 15px;
  transform: translate(0px, 2px);
}

.accordeon__header.active {
  color: #104489;
  text-shadow: rgba(0, 142, 236, 0.815) 1px 0 20px;
  transform: translate(0px, 2px);
}

.accordeon__content {
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}


/* ----- ADAPTIVE LAYOUT ----- */

@media (max-width: 1230px) {
  /* Cards */
  .cards__inner {
    width: 400px;
  }
  .cards__item img {
    width: 400px;
    aspect-ratio: 1/1.5;
  }

  .cards__item {
    width: 400px;
  }

  .cards__description {
    width: 400px;
  }

}

@media (max-width: 990px) {
  /* Cards */
  .cards__inner {
    width: 300px;
  }
  .cards__item img {
    width: 300px;
    aspect-ratio: 1/1.5;
  }

  .cards__item {
    width: 300px;
  }

  .cards__description {
    width: 300px;
    font-size: 18px;
  }

  .cards__btn {
    padding: 18px;
  }

}

@media(max-width: 768px) {

  /* Sign */
  .price {
    font-size: 15px;
  }

  /* Cards */
  .cards__inner {
    width: 250px;
  }
  .cards__item img {
    width: 250px;
    aspect-ratio: 1/1.5;
  }

  .cards__item {
    width: 250px;
  }

  .cards__description {
    width: 250px;
    font-size: 15px;
  }

  /* Accordeon */
  .question_header {
    font-size: 28px;
  }

  .accordeon__header {
    font-size: 0.9em;
  }

}

@media(max-width: 575px) {
  /* CARDS */
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 5em;
  }

  /* Accordeon */
  .question_header {
    font-size: 24px;
  }
}

@media(max-width: 375px) {
  .accordeon__header {
    font-size: 0.75em;
  }

  .accordeon__content {
    padding: 5px;
    font-size: 0.75em;
  }
}