*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8ff;
}

.container {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/*------------------HEADER--------------------*/
.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10vh;
  width: 100%;
  height: 60vh;
  margin: 3rem 0;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_img {
  width: 200px;
  height: auto;
}

.club_name {
  margin-top: 40px;
  width: 400px;
  text-align: center;
  font-weight: 500;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.nav__link {
  text-decoration: none;
  color: #333;
  font-size: 1.7rem;
  width: 300px;
  text-align: center;
}

.nav__link:hover {
  color: #104489;
}

/*------------------SIGN--------------------*/
.container-sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 50px;
}

.submit-btn {
  position: relative;
  padding: 16px;
  border-radius: 7px;
  border: 1px solid #104489;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  background: #104489;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.submit-btn:hover {
  background: #104489;
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  color: #fff;
}

.submit-btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.submit-btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.submit-btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.contacts {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  width: 150px
}

.contacts__item:hover {
  opacity: 0.8;
}

.contacts__item i {
  font-size: 1.5rem;
  color: #104489;
}

.contacts__item span {
  color: #333;
}


/*------------------ABOUT--------------------*/
.section-about {
  margin-top: 100px;
}

.cards {
  display: flex;
  justify-content: space-around;
  color: #104489;
}

.cards__title {
  margin-top: 20px;
  font-size: 26px;
}

.cards__description {
  margin: 20px 0;
  font-size: 20px;
  width: 500px;
}

.cards__btn {
  font-size: 16px;
  padding: 20px;
  background-color: #f8f8ff;
  color: #104489;
  border: 2px solid #104489;
  border-radius: 3px;
  transition: 0.2s linear;
}

.cards__btn:hover {
  background-color: #104489;
  color: #f8f8ff;
  cursor: pointer;
}

.cards__item img {
  width: 500px;
  aspect-ratio: 1/1.5;
}



/*------------------FAQ--------------------*/
.section_header {
  color: #333;
  margin: 30px 0;
  padding-top: 30px;
  font-size: 30px;
}

.accordeon {
  color: #333;
  line-height: 1.8;
  font-size: 20px;
  padding: 0 0 30px 20px;
}

.accordeon__header {
  font-weight: 700;
  transition: .2s linear;
  cursor: pointer;
}

.accordeon__header:hover {
  color: #104489;
}

.accordeon__header.active {
  color: #104489;
}

.accordeon__content {
  padding: 10px;
  display: none;
}


/*------------------FOOTER--------------------*/
.footer {
  margin-top: 30px;
  background-color: #000;;
  color: #fff;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.map {
  width: 100%;
  max-width: 400px;
}

.footer__title {
  margin-bottom: 20px;
  color: #828282;
}

.footer-contacts__item {
  margin-bottom: 20px;
}

.footer-contacts__link {
  text-decoration: none;
  color: inherit;
}

.footer-contacts__link:hover {
  color: #828282;
} 

.footer-contacts__link i {
  min-width: 20px;
}

.footer-contacts__title {
  margin-left: 10px;
}

.footer__logo {
  width: 100px;
  margin: 40px auto;
}